<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}
</head>

<body>
	<div class="container">
		{% include "header.html" %}

		<div class="main-div">
			<h2><strong>자연어 처리 기반의 뉴스요약</strong></h2>
			<br>
			<p>2013년 한 해에만 약 4.4ZB의 디지털 정보가 쏟아져 나왔고, 이 수치는 점점 더 늘어날 것으로 예상되고 있습니다.</p>
			<p>과다한 정보는 자칫 정보과잉 현상으로 이어져 필요한 핵심 정보를 얻기 힘든 문제가 발생할 수 있습니다.</p>
			<p>
			<p>'뉴스요약 프로그램'은 뉴스기사를 3개의 문장으로 요약하여 제공합니다.</p>
			<p>형태소 단위로 문장에서 키워드를 추출, TF-IDF 알고리즘을 이용하여 핵심 키워드를 추출하고 상위 5개의 핵심 키워드의 빈도 수를 통해 3개의 핵심 문장을 선정합니다.</p>
			<p>'뉴스검색'은 해당 키워드의 요약된 뉴스를 시간 순으로 제공하고, '뉴스요약'은 직접 입력한 뉴스 기사를 실시간으로 요약합니다.</p>
			<p>지금 바로 체험해 보세요.</p>
			<br>
			<p>2016 MY(Multi-Y)캡스톤디자인 프로그램 <strong>어장조</strong>
				<p>컴퓨터공학과 Data Science Lab | 조준래, 장현우, 어수영</p>
			</tr>
			</table>
			<br><br>
		</div>
	</div> <!-- /container -->
</body>
</html>
