<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}
	<script src="static/javascript/register_keyword.js"></script>
</head>

<body>
	<div class="container">
		{% include "header.html" %}

		<div class="main-div">
            <div class="navb-search">
                <div style="margin-left:10px;"><input id="keyword" autocomplete="off" class="form-control navb-search-input" placeholder="" type="text" />
                <button type="button" class="btn btn-default" onclick="searchKeyword()">검색</button>
                <!-- <a class="navb-search-button" onClick="searchKeyword()">검색</a> -->
                </div>
            </div>

		</div>
		<div id="search_result">
            </div>
	</div> <!-- /container -->
</body>

</html>
