<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}
	<script src="static/javascript/news_summary.js"></script>
	<script type="text/javascript">
		function closeWindowByMask() {
	        $('#mask, #loadingImg').hide();
	        $('#mask, #loadingImg').remove();   
	    }
		function wrapWindowByMask() {
        //화면의 높이와 너비를 구한다.
        var maskHeight = $(document).height();  
      	var maskWidth = $(document).width();
        var maskWidth = window.document.body.clientWidth;
         
        var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#ffffff; display:none; left:0; top:0;'></div>";
        var loadingImg = '';
         
        loadingImg += "<div id='loadingImg' style='position:absolute; left:50%; top:40%; display:none; z-index:10000;'>";
        loadingImg += " <img src='static/images/viewLoading.gif'/>"; 
        loadingImg += "</div>";   
     
        //화면에 레이어 추가 
        $('body')
            .append(mask)
            .append(loadingImg)
           
        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
        $('#mask').css({
                'width' : maskWidth
                , 'height': maskHeight
                , 'opacity' : '0.3'
        });  
     
        //마스크 표시
        $('#mask').show();    
     
        //로딩중 이미지 표시
        $('#loadingImg').show();
    }	
	</script>
</head>

<body>
	<div class="container">
		{% include "header.html" %}

		<div class="main-div">
			<div class="navb-search">
				<div style="margin-left:10px;"><input id="keyword" autocomplete="off" class="form-control navb-search-input" placeholder="" type="text" />
					<br>
					<button type="button" class="btn btn-default" onclick="searchKeyword()">검색</button>
				</div>
			</div>
		</div>
		<div class="search_keyword">
			<ul class="search_keywordBody">
				<div id="search_keyword_result">
				</div>
			</ul>
		</div>
		<!-- <div id="search_result">
	</div> -->
</div> <!-- /container -->
</body>

</html>
