<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}
	<script src="static/javascript/search.js"></script>
</head>

<body>
	<div class="wrap-loading display-none">
		<div><img src="static/images/loading.gif" width="100px" height="100px" /></div>
	</div>
	<div class="container">
		{% include "header.html" %}

		<div class="main-div">
			<div class="navb-search">
				<div>
					<input id="keyword" autocomplete="off" class="form-control navb-search-input" placeholder="" type="text" />
					<br>
					<button type="button" class="btn btn-default" onclick="searchNews()">검색</button>
				</div>
			</div>
		</div>
		<div class="search_keyword">
			<ul class="search_keywordBody">
				<div id="search_keyword_result">
				</div>
			</ul>
		</div>
	</div>

</body>
</html>