<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}
	<script src="static/javascript/summary_with_url.js"></script>
</head>

<body>
	<div class="wrap-loading display-none">
		<!-- <div><img src="static/images/loading.gif" width="100px" height="100px" /></div> -->
		<div><img src="http://www.aeo.or.kr/images/main/loading_img.gif" /></div>
	</div>
	<div class="container">
		{% include "header.html" %}

		<div class="news-input-div">
			<div>
				<h2><strong>URL을 넣어주세요.</strong></h2>
				<input id="inputUrl" class="form-control navb-search-input" type="text">
				<br>
				<button type="button" class="btn btn-default" onclick="summaryNewsWithUrl(inputUrl.value);">요약</button>
			</div>
		</div>
		<hr/>
		<div class="news-summary-div" id="content" style="background-color:#EEEEEE; border: 2px solid #ccc; display:none" >
		</div>
		<hr>
		<div class="news-summary-div" id="summaryContent" style="background-color:#DDDDDD; border: 2px solid #ccc;display:none" >
		</div>
		<br><br><br><br><br>
	</div>
</div>
</body>
</html>
