<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}
</head>

<body>
	<div class="container">
		{% include "header.html" %}

		<div class="news-input-div">
			<div>
				<textarea id="input" rows="10" class="form-control navb-search-input" placeholder="" type="text">뉴스를 넣어주세요.</textarea>
				<br>
				<button type="button" class="btn btn-default" onclick="summaryNews(input.value)">요약</button>
			</div>
		</div>
		<hr/>
		<div class="news-summary-div" id="summary_result">
		</div>
	</div>
</div>
</body>
</html>
